.div-container{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: salmon;
}
.itm-container{
    color: chocolate;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table-container{
    height: 300px;
    width: 300px;
    background: aquamarine;
}
table,th,tr,td{
    border: 1px solid orangered;
    border-collapse: collapse;
    padding: 10px 10px;
}
.container{
    color: brown;
    font-size: 30px;
}

.container1{
    color: deeppink;
    font-size: 30px;
}
.container2{
    color: darkgreen;
    font-size: 30px;
}