<div class="container">
    <h1 class="heading">Login Form</h1>
    <button class="back-btn" routerLink="/landing">Back</button>
    <form class="form-container">
        <label class="label">User Name</label><br>
        <input class="inp-box" type="text"><br>
        <label class="pass">Password</label><br>
        <input class="inp-pass" type="text"><br>
        <button class="lgn-btn">Login</button><br>
        <!-- <a> Forgot password</a> -->
    </form>
</div>
<br><br>
<!-- <button routerLink="">Landing home screen</button> avoid it -->