<div class="container">
    <br>
    <button class="back-btn" routerLink="/landing">Back</button>
    <h1 class="heading">Login Form</h1>

    <form #loginForm="ngForm" class="form-container">

        <label class="label">Full Name</label><br>

        <input class="inp-box" type="text" name="fullName" pattern="[a-zA-z]*$" ngModel #fullName="ngModel" required
            minlength="5"><br>

        <span class="span-err" *ngIf="fullName.errors?.['pattern'] && fullName.touched">Please Enter Alphabets
            Only
        </span>
        <span class="span-err" *ngIf="fullName.errors?.['minlength'] && !fullName.errors?.['pattern']"> FullName
            shouldbe having atleast 5 Alphabets
        </span>

        <br>
        <label class="pass">Password</label><br>

        <input class="inp-pass" type="text" ngModel name="password" #password="ngModel" minlength="8"
            pattern="[A-Z]{1}[a-zA-Z0-9!@#$%^&*]{9}$"><br>

        <span class="span-err" *ngIf="password.errors?.['minlength']">Password should contain atleast 8
            charactors</span>
        <span class="span-err" *ngIf="password.errors?.['pattern'] && !password.errors?.['minlength']"> Please match the
            pattern
        </span><br><br>

        <label> Gender </label><br>
        <input type="radio" required value="Male" name="gender" ngModel #gender="ngModel"> Male
        <input type="radio" required value="Female" name="gender" ngModel #gender="ngModel"> Female
        <input type="radio" required value="Other" name="gender" ngModel #gender="ngModel"> Other <br>
        <span class="span-err" *ngIf="gender.errors?.['required']">Gender is required</span> <br>
        <button class="lgn-btn" [disabled]="!loginForm.valid" (click)="submit(loginForm.value)">Login</button><br>
        <!-- <a> Forgot password</a> -->
    </form>
</div>
<br><br>
<!-- <button routerLink="">Landing home screen</button> avoid it -->