.container {
    height: 100vw;
    width: 100%;
    background: salmon;
}

.back-btn {
    background: blue;
    padding: 5px 5px;
    font-size: 15px;
    margin-left: 5px;
    border: none;
    text-align: center;
}

.heading {
    text-align: center;
}

.form-container {
    text-align: center;
    margin: auto;
    background-color: thistle;
    /* border: 1px solid black; */
    height: 400px;
    width: 300px;
    padding: 6px 6px;
}

.label {
    font-size: 20px;
    padding: 5px;
    top: 4px;
    position: relative;
}

.inp-box {
    padding: 10px;
    margin-top: 5px;
    width: 200px;
}

.pass {
    font-size: 20px;
    padding: 5px;
    top: 10px;
    position: relative;
}

.inp-pass {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
}

.lgn-btn {
    padding: 5px;
    background: green;
    margin-top: 22px;
    font-size: 18px;
    border: none;
}

.span-err{
    color: red;
    font-size: 16px;
}