<div class="parent">
    <h1 class="heading" *ngIf="!fullName">My Application</h1>
    <h1 class="heading" *ngIf="fullName">Welcome {{fullName}}</h1>

    <button class="lgn-btn" (click)="loginButton()">Login</button>
    <button class="lgn-btn" routerLink="/signup">Sign Up</button>
    <button class="lgn-btn" (click)="studentActivity()">User Activity</button>
    <button class="lgn-btn" (click)="directive()">Directive</button>
    <button class="lgn-btn" (click)="parent()">Parent</button><br><br><br><br>
    <!-- <button class="lgn-btn" routerLink="/student/studentData">Student Data</button> -->
    <button (click)="show()">Show data</button>
</div>