
<button (click)="showForm()"> Show sign in form</button><br><br>

<form [formGroup]="signInForm" *ngIf="showSignInForm">
    Password :
    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" (keyup)="password()">
    <button (click)="showpass()">show</button> <br>
    <span *ngIf="strongPassword">Strong Password</span>
    <span class="err" *ngIf="!isMatch && signInForm.get('password')?.dirty && !strongPassword">
        Password and confirm password should be same
    </span><br>
    Confirm Password :
    <input type="text" formControlName="confirmPassword" (keyup)="confirmPassword()"><br>
    <span class="err" *ngIf="!isMatch && signInForm.get('confirmPassword')?.dirty">
        Password and confirm password should be same
    </span><br>

    Name :
    <input type="text" formControlName="name"><br>
    <span class="err" *ngIf="signInForm.get('name')?.errors?.['Err']">Name should not contain copy word</span>
    <span class="err" *ngIf="signInForm.get('name')?.errors?.['whiteSpace']">Name should not contain white space</span>
</form>