
<button (click)="showForm()"> Show sign in form</button><br><br>

<form [formGroup]="signInForm" *ngIf="showSignInForm">
    Password :
    <input type="text" formControlName="password" (keyup)="password()"> <br>
    <span class="err" *ngIf="!isMatch && signInForm.get('password')?.dirty">
        Password and confirm password should be same
    </span><br>
    Confirm Password :
    <input type="text" formControlName="confirmPassword" (keyup)="confirmPassword()"><br>
    <span class="err" *ngIf="!isMatch && signInForm.get('confirmPassword')?.dirty">
        Password and confirm password should be same
    </span><br>

    Name :
    <input type="text" formControlName="name"><br>
    <span class="err" *ngIf="signInForm.get('name')?.errors?.['Err']">Name should not contain copy word</span>
</form>