<div class="container">
    <button class="back-btn" mat-raised-button color="primary">Back</button>
    <br>
    <mat-card class="lgn-form">
        <form>
            <mat-form-field class="lgn-input">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="lgn-input">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <br>

            <div>
                <button class="lgn-input" mat-raised-button color="primary">Login</button>
                <br><br>
                <a class="lgn-input" mat-raised-button color="accent">New owner?</a>
            </div>
        </form>
    </mat-card>
</div>