.lgn-form{
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;

}
.lgn-input{
    position: relative;
    top: 25px;
    width: 330px;
    
}
.container{
    background-color: sienna;
    height: 100%;
}
