.container {
    background-image: url('/assets/images/hotel.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.btn-container{
   position: relative;
   top: 25px;
}
.btn{
    padding: 6px 6px;
    margin: 5px;
}
