<!-- <br><br>
 <h2>{{firstName}}</h2> 
<h2 class="user-name">Welcome {{studentName}}</h2>
<div class="container">
  <form>
    <h2>Login form</h2>
    <h2>{{formTitle}}</h2>
    Name
    <br>
    <input type="text"><br><br>
    Password
    <br>
    <input type="password">
    <br><br>
    <button class="sbmt-btn">Submit</button> -->
  <!-- </form> -->
<!-- </div> -->

<!-- <p>You have received amount --- {{amount}}</p>
<p>{{isFavCity}}</p> -->
<!-- Test case 1: can we use typeof operator into interpollation = no we can not use -->
<!-- <p>{{typeof(isFavCity)}}</p> -->
<!-- Test case 2: can we use arithmatic operator into interpollation = yes we can use -->
<!-- <p>{{50+10}}</p> -->
<!-- Test case 3: can we use method/function into interpollation = yes we can use -->
<!-- <p>{{testingFunction(30,70)}}</p> -->
<!-- test case 4: can we use assignment operator into interpollation = no we can not use
= -- assignment operator(use to assign value) not possible
== -- Equality operator(it will check only value equality) it possible
=== --Equality operator(it will check value as well as datatype) it possible -->
<!-- <p>{{isFavCity=false}}</p> -->
<!-- <p>{{isFavCity==false}}</p> -->
<!-- <p>{{isFavCity===false}}</p> -->
<!-- <p>{{amount==='1000'}}</p> if datatype is differernt then it will through an error -->

<!-- {{myName}} -->
<!-- <br><br>
<input type="text" [value]="myName">
<br><br>
<input type="radio" [checked]="gender">
<br><br>
<input type="text" value="{{myName}}">
<br><br> -->
<!-- <input type="text" disabled="{{isDisable}}"> we can not use interpollation majorlly -->
<!-- <br><br>
<input type="text" [disabled]="isDisable"><br><br> -->

<!-- EventBinding () (click), (focus), (blur) -->
<!-- <button (click)="testingEventBinding()">click...</button>
{{eventBindingData}} -->
<!-- <br><br> -->
<!-- two way data binding -->
 <!-- <input type="text" [(ngModel)]="twowayBindingTest">
<br><br>
{{twowayBindingTest}}
<br><br>
<button (click)="test()">click to print</button>
<br><br>  -->
<!-- login component -->
<!-- <app-login></app-login> -->
<!-- signup component -->
<!-- <app-signup></app-signup> -->
<!-- <br><br> -->

<!-- routerLink -->
<!-- <a routerLink="/login">Login Component</a> -->
<!-- <br><br> -->
<!-- <button routerLink="signup">signup</button> -->
<!-- <a href="/login">Login comp....</a> application is getting refresh hence avoid to use -->

<!-- router-outlet is an angular directive from router library and use to insert components matched by routes to be display on the screen -->
<router-outlet></router-outlet>

